.pad{ 
    font-size: 1.5rem;
    color: grey;
}
.font-pad{ 
    padding-left: 30px;
    padding-top: 4px;
    font-size: 1.5rem;
    color: grey;
}
.text{ 
    font-size: 25px;
    color: grey;
}
.dropdown{ 
    padding-bottom: 6px;
    padding-left: 14px;
}
.account{ 
    padding-left: 15rem;
    color: grey;

}
.logout{ 
    color: grey;
    padding-left: 9rem;
}
