.sidenav {
  height: 100vh;
  background-color: #111;
  padding-top: 20px;
  padding-left: 2rem;
}
body {
  font-family: "Lato", sans-serif;
}

h2 {
  font-size: 20px;
  color: #d8bdbd;
  padding-bottom: 10px;
}

.sidenav a {
  text-decoration: none;
  font-size: 15px;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.font-color {
  color: grey;
}
.font-end{ 
  padding-top: 100px;
}
.white { 
  color: white;
}